<div>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary">
    <!-- SideBar -->
    <mat-list-item>
      <button mat-icon-button (click)="showNavBar()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-list-item>

    <!-- Title -->
    <mat-list-item>
      <span class="header-title" [routerLink]="['/']">To-do list</span>
    </mat-list-item>

    <!-- Login in / log out button -->
    <mat-list-item>
      <button *ngIf="authService.isAuthenticated()" (click)="authService.signOutUser()" class="log-button" mat-button> Déconnexion </button>
      <button *ngIf="!authService.isAuthenticated()" class="log-button" mat-button [routerLink]="['/auth/signin']"> Connexion </button>
      <button mat-icon-button [routerLink]="['/']"><mat-icon>home</mat-icon></button>
    </mat-list-item>
  </mat-toolbar>
</div>
